@import "variables";

.pokemon-index-item {
  padding: 5px 10px;
  border-bottom: 1px solid $grey;
  cursor: pointer;

  &:hover {
    background-color: $light-grey;
  }

  img {
    width: 20px;
    margin: 0 10px;
    vertical-align: middle;
  }

}

.pokemon-index-item:first-of-type {
  border-top: 1px solid grey;
}
